@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --whiteColor: white;
  --blackColor: black;
  --cardColor: #1D1D1D;
  --cardColorBody: #777777;

  --background-gradient-button-red: linear-gradient(90deg, #C03232 0%, #FF6969 100%);
  --background-gradient-button-blue: linear-gradient(90deg, #3249C0 0%, #69A5FF 100%);
  --background-gradient-button-green: linear-gradient(90deg, #228300 0%, #82D93D 100%);
  --background-gradient-button-orange-rose: linear-gradient(90deg, #BD8A06 0%, #D93DD3 100%);

  // sizing
  --xxs-sizing: 8px;
  --xs-sizing: 12px;
  --s-sizing: 16px;
  --m-sizing: 24px;
  --l-sizing: 32px;
  --xl-sizing: 64px;
  --xxl-sizing: 120px;

  // transitions
  --transition-cubic: .5s cubic-bezier(.5, 0, 0, 1);

  // font-sizes
  /////////////
  
  // h1
  --font-size-xl: clamp(24px, 5vw, 60px);

  --main-font-family: 'Montserrat', sans-serif;
}

* {
  font-family: var(--main-font-family);
  color: var(--whiteColor);
}

div.basepage {
  padding-block: var(--l-sizing);
  min-height: 100vh;
  width: calc(100vw);
  padding-inline: var(--xl-sizing);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    padding-inline: var(--m-sizing);
  }
}

a {
  text-decoration: none;
}

/* components */
///////////////

// buttons

.btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: .25s ease-in-out;
}

.btn-primary {
  background: var(--background-gradient-button-red);
}

.btn-secondary {
  background: var(--background-gradient-button-blue);
}

.btn:hover {
  opacity: 0.8;
}