div.contact {
    margin: 150px auto 100px;
    display: flex;
    flex-direction: column;
    gap: 150px;

    .contact-titles {
        display: flex;
        flex-direction: column;
        gap: 100px;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    div.buttons-contact {
        display: flex;
        flex-direction: column;
        gap: 40px;
        min-width: 500px;

        @media screen and (max-width: 1000px) {
            min-width: 100%;
            gap: 30px;
        }

        div {
            display: flex;
            gap: 30px;
            flex-direction: column;

            @media screen and (min-width: 1000px) {
                flex-direction: row;
            }
        }
    }
}