div.footer {

    margin-bottom: 100px;
    
    .infos-footer {
        display: flex;
        justify-content: center;
        gap: 20px;

        @media screen and (max-width: 1000px) {
            font-size: var(--xs-sizing);
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            span {
                display: none;
            }
        }
    }

}